<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
***********************
{% block title %}{% endblock %}
=======================
{% block content %}{% endblock %}
---------------------
</body>
</html>
