<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2  style="color:red">Product List<hr></h2>
<ul>
    {% for x in products %}
        <li>{{x}}:{{x.product_price}}</li>
    {% endfor%}
</ul>
</body>
</html>
